// customize colors
$theme-colors: (
  "primary": #302f2c,
  "secondary": #34495e,
  "success": #27ae60,
  "info": #16a085,
  "warning": rgb(148, 96, 63),
  "danger": #e74c3c,
  "dark": rgb(36, 36, 36),
  "light": #ecf0f1
);

$enable-gradients: true;


@import "~bootstrap/scss/bootstrap";

$my-primary : map_get($theme-colors, 'primary');
$my-secondary : map_get($theme-colors, 'secondary');
$my-warning : map_get($theme-colors, 'warning');
$my-danger : map_get($theme-colors, 'danger');



body {
    font-family: "Raleway", sans-serif;
    background-color:  $my-warning;
    
}

.navbar {
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    .navbar-brand h3 {
        font-weight: 100; 
    }
    .nav-item {
        font-size: 1.4rem;
    }
    .nav-link:hover {
        border-bottom: 1px solid $my-danger;
        transition: border 0.2s;
        
    }
}

.navbar-dark {
    .navbar-nav {
        .nav-link:hover {
            color: $my-danger;
        }
    }
}

#showcase {
    background: url("https://images.unsplash.com/photo-1569073120512-05362a6b92e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") bottom center / cover no-repeat;
    min-height: 750px;
    position: relative;

    #header {
        z-index: 2;
    }

    #overlay {
        background: rgba(0,0,0,0.35);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        z-index: 1;
    }

    h1 {
        font-family: "Questrial";
        line-height: 1;
    }
    #book {
        font-size: 1.5rem;
        border-radius: 2rem;
    }
}



@media(max-width: 768px) {
    .navbar {
        background: $my-secondary;
        .nav-link:hover {
            border-bottom: none;
        }
    }
    #showcase {
        min-height: 500px;
        
        h1 {
            font-size: 4rem;
        }
    }
}